<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ddns.android.vuls">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <permission
        android:name="ddns.permission.DEFAULT_PERMISSION"
        android:protectionLevel="normal" />
    <permission
        android:name="ddns.permission.READ_PERMISSION"
        android:protectionLevel="dangerous" />
    <permission
        android:name="ddns.permission.WRITE_PERMISSION"
        android:protectionLevel="dangerous" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- <uses-permission android:name="android.permission.READ_LOGS" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.storage.StorageActivity"
            android:label="@string/storageSec" />
        <activity
            android:name=".activities.storage.SpActivity"
            android:label="@string/spSec" />
        <activity
            android:name=".activities.storage.InternalFileActivity"
            android:label="@string/ifSec" />
        <activity
            android:name=".activities.storage.ExternalFileActivity"
            android:label="@string/efSec" />
        <activity
            android:name=".activities.storage.UidActivity"
            android:label="@string/getUid" />
        <activity
            android:name=".activities.storage.SQLiteActivity"
            android:label="@string/databaseSec" />
        <activity
            android:name=".activities.storage.LogcatActivity"
            android:label="@string/logcatSec" />
        <activity
            android:name=".activities.storage.ScreenShotActivity"
            android:label="@string/screenshot" />
        <activity
            android:name=".activities.storage.ClipboardActivity"
            android:label="@string/clipboard" />
        <activity
            android:name=".activities.storage.KeyboardCacheActivity"
            android:label="@string/keyboardcache" />
        <activity
            android:name=".activities.net.NetActivity"
            android:label="传输安全" />
        <activity
            android:name=".activities.net.HttpsURLConnectionActivity"
            android:label="HttpsURLConnection" />
        <activity
            android:name=".activities.net.SSLPinningActivity"
            android:label="SSL Pinning" />
        <activity
            android:name=".activities.net.AntiActivity"
            android:label="Anti" />
        <activity
            android:name=".activities.Activity.ActivityActivity"
            android:label="Activity安全" />
        <activity
            android:name=".activities.Activity.LoginActivity"
            android:label="绕过登录认证" />
        <activity
            android:name=".activities.Activity.AccountActivity"
            android:exported="true"
            android:label="账户信息" />
        <activity
            android:name=".activities.Activity.Dos1Activity"
            android:label="DOS1">
            <intent-filter>
                <action android:name="android.intent.action.DOS1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Activity.Dos2Activity"
            android:label="DOS2">
            <intent-filter>
                <action android:name="android.intent.action.DOS2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Activity.WebActivity"
            android:label="浏览网站" />
        <activity
            android:name=".activities.Activity.WebviewActivity"
            android:exported="true"
            android:label="浏览网页"
            android:permission="ddns.permission.DEFAULT_PERMISSION" />
        <activity
            android:name=".activities.Services.ServiceActivity"
            android:label="Service 安全" />
        <activity
            android:name=".activities.Broadcast.LoginBroadcastActivity"
            android:label="Broadcast 安全" />
        <activity
            android:name=".activities.Broadcast.BroadcastActivity"
            android:label="Broadcast 安全" />

        <service
            android:name=".services.SMSService"
            android:enabled="true">
            <intent-filter>
                <action android:name="vuls.intent.action.SMSService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.NetService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".TokenReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="ddns.action.Token" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".activities.Broadcast.DosReceiver"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name=".ContentProviders.AccountProvider"
            android:authorities="ddns.vuls.AccountProvider"
            android:enabled="true"
            android:exported="true">
            <path-permission
                android:path="/account"
                android:readPermission="ddns.permission.READ_PERMISSION"
                android:writePermission="ddns.permission.WRITE_PERMISSION" />
        </provider>

        <activity
            android:name=".activities.Webview.WebviewSecActivity"
            android:label="WebView 安全" />
        <activity
            android:name=".activities.Webview.WvLoginActivity"
            android:label="JS接口安全" />
        <activity
            android:name=".activities.Webview.CloneActivity"
            android:label="应用克隆">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="android"
                    android:scheme="ddns" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Webview.WvNetActivity"></activity>
    </application>

</manifest>